/* Banner */
.banner {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-inner {
    max-width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
}
@media (min-width: 768px) {
    .banner-inner {
        min-width: 600px;
        width: 45%;
    }
}

.subbanner {
    height: 80px;
}

.banner-standard {
    background-color: #4f4c4c;
}

.banner-biosigpem {
    background-color: #13436c; /* Logo colors: #0056a2 and #00aeeb */
}

.banner-patients {
    background-color: #7ca32e; /* WATCH color: #91c640 */
}

.banner h1 {
    margin: 0;
    color: white;
    font-size: 40px;
    text-align: left;
}

.banner h2 {
    margin: 0;
    color: white;
    font-size: 30px;
    text-align: left;
}

.banner img {
    max-height: 80%;
}